# Ejemplo de variables de entorno
SECRET_KEY=change_me
FLASK_DEBUG=1
DATABASE_URL=sqlite:///pacientes.db
UPLOAD_FOLDER=./uploads
# Para producción: DATABASE_URL=postgresql://user:pass@host:5432/dbname
