# Entorno virtual y compilados de Python
venv/
__pycache__/
*.pyc

# Base de datos (IMPORTANTE: No subir datos de pacientes)
*.db

# Archivos subidos por usuarios
uploads/

# Archivos de sistema o IDEs
.DS_Store
.vscode/
.idea/
dist/
build/
*.spec